<title>UGP Library</title>

    <div id="app">
        <template>
            <v-app id="inspire">

              <!--Toolbar-->
              <v-toolbar
                color="light-red"
                dark
                fixed
                app
                clipped-right
              >
                <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
                <v-spacer></v-spacer>
                    <v-toolbar-items>
                      <v-btn flat>1st Edition</v-btn>
                      <v-btn flat>AD&D</v-btn>
                      <v-btn flat>AD&D 2E</v-btn>
                      <v-btn flat>3rd Edition</v-btn>
                      <v-btn flat>4th Edition</v-btn>
                      <v-btn flat>5th Edition</v-btn>
                    </v-toolbar-items>
              </v-toolbar>
              <!--Toolbar-->

               <!--Left Drawer Content-->
               <v-navigation-drawer
               v-model="drawer"
               fixed
               app
               dark
             >
             </v-navigation-drawer>
             <!--Left Drawer-->

                <template>
                <v-content>
                    <v-container grid-list-xl align-center>
                        <v-layout row justify-center wrap>
                            
                                <v-timeline>
                                    <v-timeline-item
                                    v-for="card in cardArray" :key="card.ID"
                                      color="red lighten-2"
                                      large
                                    >
                                      <template v-slot:opposite>
                                        <span>{{card.GENRE}}</span>
                                      </template>
                                      <v-card class="elevation-2">
                                        <v-card-title class="headline">{{card.TITLE}}</v-card-title>
                                        <v-card-text>
                                          <a href="libraryMain.vue">
                                            <v-img
                                            :src="card.IMAGE"                                          
                                            contain
                                            alt="No Image"
                                          >
                                          </v-img>
                                        </a>
                                          <br>
                                            {{card.DESCRIPTION}}
                                        </v-card-text>
                                      </v-card>
                                    </v-timeline-item>
                                  </v-timeline>
              
                        </v-layout>
                      </v-container>
                </v-content>
              </template>

            </v-app>
          </template>
    </div>


  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script>

const app = new Vue({
    el: '#app',
    data: () => ({
      drawer: false,
      right: null,
      left: null,
      cardArray: [],
  }),
  mounted() {
          fetch('cover_data.php')
            .then(response => response.json())
            .then((data) => {
              this.cardArray = data
      })
  },


  props: {
    source: String
  }
})

  // <v-btn depressed small color="error" v-on:click="genreFilter('genre.GENRE')">Adventures</v-btn>
    
</script>

